# --------------------------------------------------
# Application
# --------------------------------------------------
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000

# --------------------------------------------------
# PostgreSQL Container Configuration
# --------------------------------------------------

CONTAINER_NAME=ticket-system-api-postgres
POSTGRES_DB=ticket_system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_PORT=5432

# --------------------------------------------------
# Database Configuration
# --------------------------------------------------
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_DATABASE=ticket_system
DATABASE_PASSWORD=your_database_password
DATABASE_LOGGING=false

# --------------------------------------------------
# Database Test Configuration
# --------------------------------------------------
TEST_CONTAINER_NAME=ticket-system-api-postgres-test
TEST_POSTGRES_DB=ticket_system_test
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=postgres
TEST_POSTGRES_PORT=5436

# --------------------------------------------------
# Jwt Settings
# --------------------------------------------------
JWT_SECRET=your_jwt_secret
JWT_AUDIENCE=http://localhost:3000
JWT_ISSUER=http://localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=604800

# --------------------------------------------------
# Rate Limiting
# --------------------------------------------------
THROTTLE_TTL=60000
THROTTLE_LIMIT=60