# --------------------------------------------------
# PostgreSQL Container Configuration
# --------------------------------------------------

CONTAINER_NAME=ticket-system-api-postgres
POSTGRES_DB=ticket_system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_PORT=5432

# --------------------------------------------------
# PostgreSQL Test Container Configuration
# --------------------------------------------------
TEST_CONTAINER_NAME=ticket-system-api-postgres-test
TEST_POSTGRES_DB=ticket_system_test
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=postgres
TEST_POSTGRES_PORT=5436