PORT=3000

# --------------------------------------------------
# PostgreSQL Container Configuration
# --------------------------------------------------

CONTAINER_NAME=ticket-system-api-postgres
POSTGRES_DB=ticket_system
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_PORT=5432

# --------------------------------------------------
# Database Configuration
# --------------------------------------------------
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_DATABASE=ticket_system
DATABASE_PASSWORD=your_database_password
DATABASE_LOGGING=false